.navbar-default{
	border-bottom: 0;
	background: #f2f2f2;
}
.navbar{
	margin: 0;
}
.navbar-default .navbar-right .active a{
	background: none;
	color: #42a29b;
}
.navbar-default .navbar-toggle{
	border: 0;
	color: #3f9a93;
}
.navbar-default .navbar-toggle .icon-bar{
	background: #3f9a93;
}
#pic1 .container-fluid{
	padding: 0;
	margin: 0;
}
#pic2{
	background: #f8f7f2;
}
#banner1{
	padding-top: 20px;
	padding-bottom: 70px;
}
#banner1 .col-sm-6 img{
	padding-top: 20px;
}
#banner2{
	background: url(../img/as_03.jpg);
}
#banner2 .col-xs-12 .btn-default{
	background: #fcfcfc;
	margin-top: 30px;
	padding: 10px 30px;
	border-radius: 20px;
	color: #58b8a6;
	border-color: #58b8a6;
}
#banner2 .padt img{
	padding-top: 30px;
	
}
#banner2 .padt{
	color: #fff;
}
#banner2 .padt h4{
	color: #fff;
	padding-bottom: 15px;
}
#banner2 .padt p{
	line-height: 24px;
	padding-bottom: 140px;
	
}
#banner2 .padt span{
	color: #999999;
}

#banner3{
	margin-top: 100px;
}
#banner3 .hidden-xs .btn-default{
	background: #fff;
	margin-top: 30px;
	padding: 10px 30px;
	border-radius: 20px;
	color: #5a5a5a;
	border-color: #ffcb31;
}
#banner3 .hidden-sm .btn-default{
	background: #fff;
	margin-top: 30px;
	padding: 10px 30px;
	border-radius: 20px;
	color: #58b8a6;
	border-color: #58b8a6;
	margin-bottom: 30px;
}
#banner3 .list{
	padding: 0;
	border: 1px solid #eeeeef;
	border-radius: 5px;
	margin-top: 20px;
}
#banner3 .col-sm-5 .list p{
	padding: 20px 30px;
	line-height: 25px;
	color: #999;
	background: url(../img/yue_26.jpg)no-repeat right center;
	margin-right: -12px;
}
@media (max-width: 591px){
	 #banner3 .col-sm-5 .list p{
	 	background: none;
}
}
#banner3 .right{
	padding-top: 175px;
}
#banner3 .hidden-xs .list p{
	padding: 20px 30px;
	line-height: 25px;
	color: #999;
	background: url(../img/fg_03.jpg)no-repeat left center;
	margin-left: -12px;
}
#banner3 .list h5{
	padding: 20px 30px 0 30px;
	
	color: #666;
}
#banner3 .yuan .btn{
	padding: 10px 15px;
	border-radius: 50%;
	color: #06b8b7;
	border-color: #f0f1f2;
}
#banner3 .ta .btn{
	background: #fff;
	margin-top: 30px;
	padding: 10px 30px;
	border-radius: 20px;
	color: #58b8a6;
	border-color: #58b8a6;
	margin-bottom: 30px;
}



#banner4 .col-xs-4{
	margin: 0;
	padding: 0;
}

#banner4{
	background: url(../img/y_06.jpg)no-repeat;
	background-size: cover;
}
#banner5{
	margin-top: 15px;
	margin-bottom: 15px;
}
#banner5 p a{
	color:  #999;
	margin-right: 60px;
}
#footer{
	background: #ecf0f3;
	padding: 20px 0;
}
#footer p{
	line-height: 20px;
	font-size: 12px;
	color: #999;
}

#footer h5{
	padding-top: 15px;
	color: #666666;
}
#footer h5 a{
	color: #666666;
}
#footer .hidden-sm h5 a{
	color: #5cb0ff;
}
#footer .hidden-sm h5 i{
	color: #999;
	margin-left: 10px;
	margin-right: 10px;
}
#footer .hidden-sm p{
	color: #b6b9bb;
}
#footer .hidden-sm .tel{
	color: #8e9092;
}